.container .row { margin: 10px; text-align: center; }
.container .row .radial { margin: 20px; }
.radial {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border: 4px;
    border-style: solid;
    border-radius: 5px;
}
.radial_selected {
    border: 4px;
    border-style: solid;
    border-radius: 5px;
    border-color: green;
}